{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}

{% block content %}
        <div class="list-group align-items-center mt-3">
    <h3>
        Please enter your old password and then enter your new password twice.
    </h3>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-danger">Change my Password</button>
        <a href="{% url 'profile' user.pk %}" type="button" class="btn btn-outline-danger">Cancel</a>
    </form>
        </div>
{% endblock %}
