{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}

{% block content %}
    {% bootstrap_javascript jquery=True %}
    {% bootstrap_messages %}


    <p class="mt-3">
    <h2 style="text-align:center;">Profile Page: {{ user }}</h2>
    <p>
    <div class="row">
        <div class="col-sm-6">
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" name="btn_quiz_create" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
    <hr>
    <div>
        <h5>Password Management</h5>
        <a href="{% url 'password_change' %}" type="button" class="btn btn-danger">Change Password</a>
    </div>
    <hr>
    <div>
        <h5>Delete Profile</h5>
        <a href="{% url 'delete_profile' user.pk %}" type="button" class="btn btn-danger">Delete Profile</a>
    </div>
{% endblock %}
