{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

{% block content %}
    <p class="mb-2"><h2 style="text-align:center;">{{ user }} profile page</h2><p>
    <div class="row">
        <div class="col-sm-6">
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" name="btn_quiz_create" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
    <hr>
    <div>
        <h5>Your interests are:</h5>
        <ul>
            {% for interest in user.student.get_interests %}
                <li>{{ interest }}</li>
            {% endfor %}
        </ul>
    </div>
    <hr>
    <div>
        <h5>Password management</h5>
        <a href="{% url 'password_change' %}" type="button" class="btn btn-danger">Change Password</a>
    </div>
{% endblock %}
