{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}

{% block content %}
    {% bootstrap_javascript jquery=True %}
    {% bootstrap_messages %}


    <p class="mb-2">
    <h2 style="text-align:center;">{{ user }} Profile Page</h2>
    <p>
    <div class="row">
        <div class="col-sm-6">
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" name="btn_quiz_create" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
    <hr>
    {% if user.is_student %}
        <div>
            <h5>Your Interests Are:</h5>
            <ul>
                {% for interest in user.student.get_interests %}
                    <li>{{ interest }}</li>
                {% endfor %}
            </ul>
        </div>
        <hr>
    {% endif %}
    <div>
        <h5>Password Management</h5>
        <a href="{% url 'password_change' %}" type="button" class="btn btn-danger">Change Password</a>
    </div>
{% endblock %}
