{% extends 'base.html' %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center mt-3">
        <div class="login-item">
            <p>
            <h2>Signup</h2>
            <p>
            <p><a href="{% url 'teacher_signup' %}">
                <button type="button" class="btn btn-primary" name="teacher">I'm a Teacher</button>
            </a>
            <p>
            <p><a href="{% url 'student_signup' %}">
                <button type="button" class="btn btn-success" name="student">I'm a Student</button>
            </a></p>
            <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
        </div>
    </div>
{% endblock %}
