{% extends 'base.html' %}

{% load bootstrap4 %}
{% bootstrap_css %}

{% block content %}
    <div class="list-group align-items-center mt-3">
        <div class="login-item">
            <form class="form" method="post">
                <h2 class="mb-3">Student Signup</h2>
                {% csrf_token %}
                {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary">Signup</button>
            </form>
            <div class="bottom-text mt-2">
                <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
            </div>
        </div>
    </div>
{% endblock %}
