{% extends 'base.html' %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="login-item">
            <form class="form" method="post">
                <h2>Teacher Signup</h2>
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary">Signup</button>
            </form>
            <div class="bottom-text">
                <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
            </div>
        </div>
    </div>

{% endblock %}
